---

- name: Network Getting Started First Playbook
  connection: network_cli
  gather_facts: true
  hosts: all
  tasks:

    - name: Get sytem version
      shell: cat /etc/system-release
      register: current_machine_name

    - name: Display the config
      debug:
        msg: "This host is running {{ current_machine_name }}"

    - name: collect all facts
      setup:
        gather_subset:
        - '!all'
